<!DOCTYPE html>
<html lang='en'>
<head>
	<meta class="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Documentation | Evie by unDraw</title>
	<%_ currentPage = "/docs" _%>
	<% include ./partials/metadata %>
	<link rel='stylesheet' href='<%= asset("css/style.min.css") %>' />
</head>
<body>
	<% include ./partials/nav %>
	<div class="page__header">
		<div class="hero__overlay hero__overlay--gradient"></div>
		<div class="hero__mask"></div>
		<div class="page__header__inner">
			<div class="container">
				<div class="page__header__content">
					<div class="page__header__content__inner" id='navConverter'>
						<h1 class="page__header__title">Documentation</h1>
						<p class="page__header__text">We designed this theme to be plug and play but a minimal style system is included to build on. Here you can find everything about it, how to use and customize it.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page">
		<div class="container">
			<div class="page__inner">
				<div class="page__menu">
					<% page = "overview" %>
					<% include ./partials/docs_menu %>
				</div>
				<div class="page__main">
					<div class="container">
						<div class="text-container text-container--center">
							<p class="docs__text__title">Evie is a lightweight theme that includes pages, some components and styles most elements in a way that fit together to create appealing websites.</p>
							<h3>Versions</h3>
							<p>There are two versions: production which includes both minified and unminified CSS and JS files along with the html template. The development version contains the SASS files and the full source code for the theme and the documents.</p>
							<h3>Get started</h3>
							<p>
								<span class="stress"><u>Production version <small>(theme)</small>:</u></span> Just download the production file, unzip it and click on it to preview the content. You can then change the texts, select new illustrations (or images!) and upload to any host you like as a normal static site.
							</p>
							<a href="/downloads/evie_theme.zip" class="button button__accent" onclick="trackOutboundLink('/downloads/evie_theme.zip','Download','Theme')">Download Theme</a> 
							<p>
								<span class="stress"><u>Development version <small>(source)</small>:</u></span> If you are familiar with SASS and you want the source files, download the development version. There you will find the SASS files <small>("src/theme/sass")</small>, the documentation website and a pretty specific Gulp/Express.js setup which you'll probably want to replace with your own.
							</p>
							<a href="/downloads/evie_source.zip" class="button" onclick="trackOutboundLink('/downloads/evie_source.zip','Download','Source')">Download Source</a>
							<h3>Comparison</h3>
							<p>There are many CSS frameworks out there (Bootstrap, Foundation,etc), so there is probably not a need for one more. That's why Evie is simply a theme that happens to include a small style guide. You can use Evie right away without having to learn anything or you can use it as a starting point and build on it.</p>
							<div class="docs__options">
								<span></span>
								<a href="/pages" class="docs__next">Next: Pages &#187;</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<% include ./partials/footer %>
<script src='<%= asset("js/app.min.js") %>'></script>
<% include ./partials/analytics %>
</body>
</html>