<ul class="vMenu">
	<li><a href="/docs" <% if(page === "overview"){ %>class="vMenu--active"<%}%> >Overview</a></li>
	<li><a href="/pages" <% if(page === "pages"){ %>class="vMenu--active"<%}%> >Pages</a></li>
	<li><a href="/components" <% if(page === "components"){ %>class="vMenu--active"<%}%> >Components</a></li>
	<li><a href="/elements" <% if(page === "elements"){ %>class="vMenu--active"<%}%> >Elements</a></li>
	<li><a href="/utilities" <% if(page === "utilities"){ %>class="vMenu--active"<%}%> >Utilities</a></li>
	<li><a href="/additional" <% if(page === "additional"){ %>class="vMenu--active"<%}%> >Additional</a></li>
</ul>