<div class="footer footer--dark">
		<div class="container">
			<div class="footer__inner">
				<a href='/' class="footer__textLogo">Evie theme</a>
				<div class="footer__data">
					<div class="footer__data__item">
						<div class="footer__row">
							Created by <a href="https://twitter.com/ninalimpi" target="_blank" class="footer__link">Katerina Limpitsouni</a>
						</div>
						<div class="footer__row">
						Code/design by <a href="https://twitter.com/anges244" target="_blank" class="footer__link">Aggelos Gesoulis</a>
						</div>
					</div>
					<div class="footer__data__item">
						<div class="footer__row">Created for <a href="https://undraw.co" target="_blank" class="footer__link">unDraw</a>
						</div>
						<div class="footer__row">Special thx to <a href="https://shareboost.co" target="_blank" class="footer__link">ShareBoost</a> for <a href="/auth/twitter" class="link__hidden">the</a> support
						</div>
					</div>
					<div class="footer__data__item">
					<div class="footer__row">
						<a href="https://github.com/anges244/evie" target="_blank" class="footer__link">GitHub</a>
					</div>
					<div class="footer__row">
						<a href="https://twitter.com/undraw_co" target="_blank" class="footer__link">Twitter</a>
					</div>
					<div class="footer__row">
						<a href="https://www.facebook.com/undraw.co/" target="_blank" class="footer__link">Facebook</a>
					</div>
					<div class="footer__row">
						<a href="/additional" class="footer__link">MIT license</a>
					</div>
				</div>
			</div>
		</div>
	</div>