<pre><xmp>
  <div class="left-align">Left aligned text</div>
  <div class="center-align">Center aligned text</div>
  <div class="center">Center aligned text</div>
  <div class="right-align">Right aligned text</div>
</xmp></pre>