<pre><xmp>
<div class="app">
  <div class="container">
    <div class="app__inner">
      <div class="app__menu">Side column</div>
      <div class="app__main">Main column</div>
    </div>
  </div>
</div>
</xmp></pre>