<pre><xmp><form>
  <div class="double">
    <div class="half">
       <label for="first">First</label>
       <input type="text" id="first" placeholder="Type...">
    </div>
    <div class="half">
      <label for="second">Last</label>
      <input type="text" id="second" placeholder="Type...">
    </div>
  </div>
</form></xmp></pre>