<pre><xmp>
<div class="page">
  <div class="container">
    <div class="page__inner">
      <div class="page__menu">Side column</div>
      <div class="page__main">Main column</div>
    </div>
  </div>
</div>
</xmp></pre>