<pre><xmp><div class="double">
  <p class="half">
    <input name="radiovalue" type="radio" id="radio1" />
    <label for="radio1">Radio option 1</label>
  </p>
  <p class="half">
    <input name="radiovalue" type="radio" id="radio2" />
    <label for="radio2">Radio option 2</label>
  </p>
</div></xmp></pre>